<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>


<p><%# link_to("Logout Here", controller: 'access', action: 'logout') %></p>

<p><%# link_to("User's Profile Page", users_show_path) %></p>

<p><%# link_to("Post your item for sale!!", new_user_sale_path(@user)) %></p>

<p><%# link_to("Views items for sale!", user_sales_path(@user)) %></p>