<div class="wrapper">


<h1>Amazing API search feature</h1>

<div class="button">
<input id="manufacturer"  placeholder="Vizio, Sony, etc.." autofocus="true">

<a href="#index" id="searchItems" class="btn btn-success">Search by Manufacturer</a>
</div>

<div id="content">

</div>

<!-- http://api.remix.bestbuy.com/v1/categories(name=Sony%20DSLR%20Camera*)?format=json&apiKey=t72cd4zb4ahwvx49ad3xqasu&show=path -->

<script id="get-data" type="x-handlebars-template" >

{{#each Data}}
<div id="spacer">
<h4>Description:</h4> {{name}}
<h4>Price: ${{salePrice}}</h4>

<img src="{{image}}">
</div>
{{/each}}

</script>

</div>