h1 {
  text-align: center;
  font-weight: bold;
}

.wrapper {
  width: 80%;
  margin: 50px auto;
  padding: 15px;
  position: relative; /*needed for heading4 rule*/
  z-index: 0; /* again, just for heading4 rule*/
  border: 7px solid #cecece;
  border: 7px solid rgba(0,0,0,.05);
  background: #fff;
  background-clip: padding-box;
  box-shadow: 0 0 2px rgba(0, 0, 0, .5);
}

.button {
  text-align: center;
}

#content {
  font-weight: bold;
  color: blue;
  text-align: center;
}