h1 {
  text-align: center;
  font-weight: bold;
}

.button {
  text-align: center;
}

#content {
  font-weight: bold;
  color: #00BFFF;
  font-weight: bold;
  padding-top: 15px;
  text-align: center;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
}

#spacer {
  padding-bottom: 20px;
  border:1px solid black;
}